@tailwind base;
@tailwind components;
@tailwind utilities;

/* .clearfix::after {
  content: "";
  display: table;
  clear: both;
}

@media (min-width: 768px) {
  .text-right {
    text-align: center;
  }
} */

/* Font ClassNames

font-thin: 100,
font-extraLight: 200,
font-light: 300,
font-normal: 400,
font-medium: 500,
font-semiBold: 600,
font-bold: 700,
font-extraBold: 800,
font-black: 900,
font-extraBlack: 950,

Example:
font-alteHaasGrotesk font-thin
font-alteHaasGrotesk font-thin italic

*/
/* styles/globals.css or another CSS file */
